@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab";
}
html{
    opacity: 0.9;
    background-color: #17171e;
}
.pag1 {
    height: 100vh;
    background: #000000e7 url(/storage/img/placeYourImageHere0.png) center/ cover no-repeat;
    /* opacity: 0.879; */
    background-blend-mode: darken;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
.pag1 nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2vh;
    height: 15%;
    width: 100%;
    justify-content: space-between;
}
.pag1 nav ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.derecha li:nth-child(3)
{
    margin-right: 11VW;
}
.izquierda li:nth-child(1)
{
    margin-left: 4vw;
}
.derecha li
{
    padding-left: 3vw;
}
.izquierda li
{
    padding-right: 3vw;
}
.logo
{
    width: 5.8vw;
    height: 9.3vh;
}
.pag1 nav ul li a
{
    padding-left: 15px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
.pag1 nav ul li a:hover
{
    color: #e58f00
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85%;
}
.home_text
{
    width: 50%  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    padding-right: 13%;
}
.plato
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plato img
{
    width: 90%;
}
main > div > h1{
    font-size: 4vw;
    font-family: 'Roboto Slab';
    font-weight: 1000 ;
    color:#e58f00;
}
main > div > h3 
{
    color: #ffffff;
    font-size: 2vw;
    margin: 30px 0px 30px 0px;
}
.contact
{
    width: 38%;
    height: 11%;
    display: flex;
    background-color:  #e58f00;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
}
.pag2
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.comida_2
{
    width: 53%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.home_text2
{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
}
.comida_2 img
{

}
.titulo2
{
    font-size: 3vw;
}