@import url(style.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Slab";
}
html{
    background-color: #17171e;
}
.pag1 {
    height: 56vw;
    background:linear-gradient(#0d0d0dec, #222121ee), url(/storage/img/placeYourImageHere0.png) center/ cover no-repeat;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
}
.pag1 nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2vh;
    height: 15%;
    width: 100%;
    justify-content: space-between;
}
.pag1 nav ul
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.derecha li:nth-child(3)
{
    margin-right: 12vw;
}
.izquierda li:nth-child(1)
{
    margin-left: 4vw;
}
.derecha li
{
    padding-left: 3vw;
}
.izquierda li
{
    padding-right: 3vw;
}
.logo
{
    width: 5.8vw;
    height: vw;
}
.pag1 nav ul li a
{
    padding-left: 1vw;
    color: #ffffff;
    font-size: 1vw;
    font-weight: bold;
}
.pag1 nav ul li a:hover
{
    color: #e58f00
}
main
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 85%;
}
.home_text
{
    width: 50%  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.3vw;
    padding-right: 13vw;
}
.plato
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plato img
{
    width: 90%;
}
main > div > h1{
    font-size: 4vw;
    font-family: 'Roboto Slab';
    font-weight: 1000 ;
    color:#e58f00;
}
main > div > h3 
{
    color: #ffffff;
    font-size: 1.3vw;
    margin: 1.3vw 0px 1.3vw 0px;
}
.contact
{
    width: 13.3vw;
    height: 4.3vw;
    display: flex;
    background-color:  #e58f00;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
}
.pag2
{
    height: 56vw;
    display: flex;
    flex-direction: row;
}
.comida_2
{
    width: 53%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.home_text2
{
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3vw;
    padding-right: 20vw;
}
.comida_2 img
{
    width: 40vw;
}
.titulo2
{
    font-size: 3vw;
    color: white;
}
.text_home2
{
    font-size: 1vw;
    color: white;
}
.pag3
{
    height: 112vw;
    background-image: url(..//storage/img/placeYourImageHereFood.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center    
}
.pagina3img2
{
    justify-self: left;
    width: 36vw;
    margin-top: 23vw;
}
.pagina3img1
{
    width: 25vw;
    position: relative;
    float: right;
    justify-self: right;
}
.pagina3img3
{
    justify-self: right;
    width: 58vw;
    padding-bottom: 20px;
}
.titulo3
{
    padding-left: 7vw;
    align-self: end;
}
.titulo3 h3
{
    font-size: 3vw;
    font-weight: bold;
    color: white;
    font-family: 'Roboto Slab';
    padding-bottom: 1.5vw;
}
.titulo3 p
{
    font-size: 1.8vw;
    font-weight: bold;
    color: white;
    font-family: 'Roboto Slab';
}
.pag4
{   height: 56vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vw;
}
.titulo4
{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: white;
}
.imagenes
{
    max-height: 0 auto;
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}
.imagenes div
{
    height: 22vw;
}
.imagenes img
{
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
.pag5
{
    background-image: url(..//storage/img/placeYourImageHereOur0.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 56vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido5
{
    height: 30vw;
    width: 35vw;
    border: 10px solid #e58f00;
    background-color: #121218b8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido5 h1
{
    font-size: 4vw;
    font-weight: 1000;
    color: white;
    font-family: 'Roboto Slab';
    text-align: center;
    padding: 0vw 0 2vw 0;
}
.contenido5 h3
{
    font-weight: 1000;
    color: white;
    font-family: 'Roboto Slab';
    text-align: center;
    height: 100%;
    width:30vw;
    display: flex;
    align-items: center;
    font-size: 1.5vw;
    padding-bottom: 5vw;
}
.pag6
{
    height: 56vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo6
{
    display: flex;
    justify-content: center;
    font-size: 2vw;
    padding-top: 6vw;
    padding-bottom: 3vw;
    color: white;
}

.menus
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu1, .menu2, .menu3
{
    width: 25vw;
}
section > section > article  div h1
{
    font-size: 1.28vw;
    font-weight: 1000;
    color: #e58f00;
    font-family: 'Roboto Slab';
    text-align: center;
    padding: 1.7vw 0 1vw 0;
}
.menu1 > div, .menu2 > div, .menu3 > div
{
    display: flex;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu1  div  img, .menu2 > div > img, .menu3 > div > img
{
    object-fit: cover;
    object-position: center;
    width: 20vw;
}
.menu1 div p, .menu2 div p, .menu3 div p
{
    width: 20vw;
    font-size: 0.86vw;
    font-weight: 1000;
    color: white;
    font-family: 'Roboto Slab';
}
.menu1 div h3, .menu2 div h3, .menu3 div h3
{
    font-size: 1.28vw;
    font-weight: 1000;
    color: #e58f00;
    font-family: 'Roboto Slab';
    display: flex;
    align-self: flex-start;
    padding-left: 2.5vw;
}
